*.iml
.gradle
*.log
*.apk
*.ap*
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea
google-services.json
cfg.properties
pjsua/.externalNativeBuild
push_notifications
pjsua/.cxx
